.idea/
venv3/
genn/
pynn_genn/
JUBE/
LTL/
L2L/
L2L-OMNIGLOT/jube_xml/
L2L-OMNIGLOT/ready_files/
L2L-OMNIGLOT/results/
L2L-OMNIGLOT/run-num-test/
L2L-OMNIGLOT/run_files/
L2L-OMNIGLOT/trajectories/
L2L-OMNIGLOT/work/
L2L-OMNIGLOT/optimizee.bin
**/__pycache__/
**/*_CODE/
.ipynb_checkpoints/
fitness_per_generation.pdf
histogram_per_gen.pdf
learning_rule_full.svg
learning_rule_zoom.svg